.caixa_formulario{
    background: white;
    width: 400px;
    height: 400px;
    color: palevioletred;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 25px 25px;
}

.caixa_formulario h1 {
    font-size: 30px;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 200px;
    
}

.formulario button {
      margin-top: 10px;
      background-color:  #e1374e;
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 10px ;
      font-size: 20px;
      width: 120px;
      align-self: center;
}

.formulario input{
    padding: 10px 15px;
    text-align: center;
    border: 2px solid rgb(82, 143, 196);
    border-radius: 10 px;
}

.campo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.campo input{
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #32b9cd;
    color: black;
}

.campo label{
    color: #e1374e;
    margin: 15px 0;
    font-weight: bold;
}

.formulario span {
    font-size: 20px;
}